[alias]
	st = status
	ci = commit
	co = checkout
	de = describe --all
	l  = log --decorate
[clean]
	requireForce = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[color "diff"]
	commit = blue
[core]
	fsyncobjectfiles = true
	preloadindex = true
[diff]
	renames = copy
[gc]
	pruneexpire = 30 days
[github]
	user = sudish
[gui]
	pruneduringfetch = true
[merge]
	stat = true
	log = true
	verbosity = 2
	conflictstyle = diff3
[pack]
	threads = 0
[push]
	default = current
[user]
	name = Sudish Joseph
	email = sudish@gmail.com
