[alias]
	st = status
	ci = commit
	co = checkout
        #up = remote update --prune
	de = describe --all
        k = !gitk --all
	l  = log --stat --decorate
	lc = log ORIG_HEAD.. --stat --no-merges --decorate
	lg = log --oneline --decorate
	dc = diff --cached
	diffc = diff --color-words
	changes  = diff --name-status -r
	diffstat = diff --stat -r
	rv = remote -v
[branch]
	autosetuprebase = always
[clean]
	requireForce = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[color "diff"]
	commit = blue
[core]
	fsyncobjectfiles = true
	preloadindex = true
	excludesfile = ~/.gitignore_global
[diff]
	renames = copy
[gc]
	pruneexpire = 30 days
[github]
	user = sudish
[gui]
	pruneduringfetch = true
[merge]
	stat = true
	log = true
	verbosity = 2
	conflictstyle = diff3
[pack]
	threads = 0
[push]
        default = current
[ui]
	color = true
[user]
	name = Sudish Joseph
	email = sudish@gmail.com

# Local Variables:
# mode: conf-unix
# End:
