[user]
	name = Sudish Joseph
	email = sudish@damballa.com
[core]
	fsyncobjectfiles = true
[alias]
	st = status
	ci = commit
	co = checkout
[diff]
	renames = copy
[merge]
	log = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
